<link rel="stylesheet" href="{{ asset('bundles/bigelibre/css/modal.css') }}"/>

<div id="editThemeWindow" class="modalWindow">
{#<a class="boxclose" id="boxclose"></a>  #}
  <div class="modalWindowHeader">

  </div>
  <div class="modalWindowContent">
     {{ form(editForm) }}
  </div>
</div>